<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>service</key>
		<string>Home.HomeServerProtocol</string>
		<key>impl</key>
		<string>Home.HomeServerHandle</string>
	</dict>
	<dict>
		<key>service</key>
		<string>Order.OrderServerProtocol</string>
		<key>impl</key>
		<string>Order.OrderServerHandle</string>
	</dict>
</array>
</plist>
