<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIKit</key>
	<array>
		<dict>
			<key>Title</key>
			<string>系统弹窗</string>
			<key>Class</key>
			<string>AlertControlller</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UIView扩展</string>
			<key>Class</key>
			<string>ViewController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UILabel扩展</string>
			<key>Class</key>
			<string>LabelController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UIButton扩展</string>
			<key>Class</key>
			<string>ButtonController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UIImage扩展</string>
			<key>Class</key>
			<string>ImageController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UITextField扩展</string>
			<key>Class</key>
			<string>TextFieldController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UITextView扩展</string>
			<key>Class</key>
			<string>TextViewController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UIViewController扩展</string>
			<key>Class</key>
			<string>Controller</string>
		</dict>
	</array>
	<key>Foundation</key>
	<array>
		<dict>
			<key>Title</key>
			<string>String扩展</string>
			<key>Class</key>
			<string>StringController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Array扩展</string>
			<key>Class</key>
			<string>ArrayController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Dictionary扩展</string>
			<key>Class</key>
			<string>DictionaryController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>值类型转化</string>
			<key>Class</key>
			<string>ValueChangeController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>存取plist文件</string>
			<key>Class</key>
			<string>plistController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>时间处理</string>
			<key>Class</key>
			<string>TimeController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>正则表达式</string>
			<key>Class</key>
			<string>regularController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Color扩展</string>
			<key>Class</key>
			<string>ColorController</string>
		</dict>
	</array>
	<key>animation</key>
	<array>
		<dict>
			<key>Title</key>
			<string>基础动画</string>
			<key>Class</key>
			<string>baseAnimal</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>核心动画</string>
			<key>Class</key>
			<string>coreAnimation</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>转场动画</string>
			<key>Class</key>
			<string>transitionsAnimated</string>
		</dict>
	</array>
	<key>hardware</key>
	<array>
		<dict>
			<key>Title</key>
			<string>判断是否安装各种APP</string>
			<key>Class</key>
			<string>APPController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>开启关闭一些设备</string>
			<key>Class</key>
			<string>CloseEquipment</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>获取设备信息</string>
			<key>Class</key>
			<string>Equipmentinformation</string>
		</dict>
	</array>
	<key>Other</key>
	<array>
		<dict>
			<key>Title</key>
			<string>经纬度的转换</string>
			<key>Class</key>
			<string>LocationController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>微信下拉框</string>
			<key>Class</key>
			<string>PopMenuController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>倒计时</string>
			<key>Class</key>
			<string>countdownController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>条目</string>
			<key>Class</key>
			<string>entryController</string>
		</dict>
	</array>
	<key>ThirdParty</key>
	<array>
		<dict>
			<key>Title</key>
			<string>MJRefresh</string>
			<key>Class</key>
			<string>ThirdScrollController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>DZNEmptyDataSet</string>
			<key>Class</key>
			<string>ThirdScrollController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MBProgressHUD</string>
			<key>Class</key>
			<string>MBProgressHUDController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>YYCache</string>
			<key>Class</key>
			<string>YYCacheController</string>
		</dict>
	</array>
</dict>
</plist>
