<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIKit</key>
	<array>
		<string>UIView扩展</string>
		<string>UILabel扩展</string>
		<string>UIButton扩展</string>
		<string>UiImage扩展</string>
		<string>UITextField扩展</string>
		<string>UITextField扩展</string>
	</array>
	<key>Foundation</key>
	<array>
		<string>String扩展</string>
		<string>Array扩展</string>
		<string>Dictionary扩展</string>
		<string>存取plist文件</string>
		<string>正则表达式</string>
		<string>时间处理</string>
	</array>
	<key>animation</key>
	<array>
		<string>基础动画</string>
		<string>核心动画</string>
		<string>转场动画</string>
	</array>
	<key>Popup</key>
	<array>
		<string>系统弹窗</string>
		<string>弹出白色视图</string>
		<string>自定义弹窗</string>
	</array>
	<key>hardware</key>
	<array>
		<string>获取设备信息</string>
		<string>各种权限判断</string>
		<string>判断是否安装各种APP</string>
		<string>开启关闭一些设备</string>
	</array>
	<key>Other</key>
	<array>
		<string>经纬度的转换</string>
	</array>
	<key>ThirdParty</key>
	<array>
		<string>MJRefresh</string>
		<string>DZNEmptyDataSet</string>
		<string>MBProgressHUD</string>
		<string>FMDB</string>
	</array>
</dict>
</plist>
